

<div class="paymentWrap">
    <div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">
        <label class="btn paymentMethod active">
            <div class="method five"></div>
            <input type="radio" name="options" checked> 
        </label>
        <label class="btn paymentMethod">
            <div class="method ten"></div>
            <input type="radio" name="options"> 
        </label>
        <label class="btn paymentMethod">
            <div class="method fifteen"></div>
            <input type="radio" name="options">
        </label>
        <label class="btn paymentMethod">
            <div class="method twenty"></div>
            <input type="radio" name="options"> 
        </label>
        <label class="btn paymentMethod">
            <div class="method self"></div>
            <input type="radio" name="options"> 
        </label>
					         
    </div>        
</div>
<div class="footerNavWrap clearfix">
    <div class="btn btn-success pull-left btn-fyi" [routerLink]="['/profile']"><span class="glyphicon glyphicon-chevron-left"></span> Back to Profile</div>
    <div class="btn btn-success pull-right btn-fyi" [routerLink]="['/home']">>CHECKOUT<span class="glyphicon glyphicon-chevron-right"></span>Pay credit and go to Home</div>
</div>