<<div class="container">

    <div class="movie-card">
        <div class="movie-header manOfSteel">
            <a [routerLink]="['/moviedetail', 1]"></a>
            <div class="header-icon-container">
                <a [routerLink]="['/moviedetail', 1]">
                    <i class="material-icons header-icon"></i>
                </a>
            </div>
        </div><!--movie-header-->
        <div class="movie-content">
            <div class="movie-content-header">
                <a [routerLink]="['/moviedetail', 1]">
                    <h3 class="movie-title">King Kong</h3>
                </a>
                <div class="imax-logo"></div>
            </div>
            <div class="movie-info">
                <div class="info-section">
                    <label>Date & Time</label>
                    <span>Sun 8 Sept - 10:00PM</span>
                </div><!--date,time-->
                <div class="info-section">
                    <label>Screen</label>
                    <span>03</span>
                </div><!--screen-->
                <div class="info-section">
                    <label>Row</label>
                    <span>F</span>
                </div><!--row-->
                <div class="info-section">
                    <label>Seat</label>
                    <span>21,22</span>
                </div><!--seat-->
            </div>
        </div><!--movie-content-->
    </div><!--movie-card-->

    <div class="movie-card">
        <div class="movie-header babyDriver">
            <a [routerLink]="['/moviedetail', 2]"></a>
            <div class="header-icon-container">
                <a [routerLink]="['/moviedetail', 2]">
                    <i class="material-icons header-icon"></i>
                </a>
            </div>
        </div><!--movie-header-->
        <div class="movie-content">
            <div class="movie-content-header">
                <a [routerLink]="['/moviedetail', 2]">
                    <h3 class="movie-title">Thor Ragnarok</h3>
                </a>
                <div class="imax-logo"></div>
            </div>
            <div class="movie-info">
                <div class="info-section">
                    <label>Date & Time</label>
                    <span>Tue 4 July - 05:00PM</span>
                </div><!--date,time-->
                <div class="info-section">
                    <label>Screen</label>
                    <span>01</span>
                </div><!--screen-->
                <div class="info-section">
                    <label>Row</label>
                    <span>H</span>
                </div><!--row-->
                <div class="info-section">
                    <label>Seat</label>
                    <span>15</span>
                </div><!--seat-->
            </div>
        </div><!--movie-content-->
    </div><!--movie-card-->

    <div class="movie-card">
        <div class="movie-header theDarkTower">
            <a [routerLink]="['/moviedetail', 3]"></a>
            <div class="header-icon-container">
                <a [routerLink]="['/moviedetail', 3]">
                    <i class="material-icons header-icon"></i>
                </a>
            </div>
        </div><!--movie-header-->
        <div class="movie-content">
            <div class="movie-content-header">
                <a [routerLink]="['/moviedetail', 3]">
                    <h3 class="movie-title">Guardian of the Galaxy volume 2</h3>
                </a>
                <div class="imax-logo"></div>
            </div>
            <div class="movie-info">
                <div class="info-section">
                    <label>Date & Time</label>
                    <span>Wed 16 Aug - 07:00PM</span>
                </div><!--date,time-->
                <div class="info-section">
                    <label>Screen</label>
                    <span>06</span>
                </div><!--screen-->
                <div class="info-section">
                    <label>Row</label>
                    <span>C</span>
                </div><!--row-->
                <div class="info-section">
                    <label>Seat</label>
                    <span>18</span>
                </div><!--seat-->
            </div>
        </div><!--movie-content-->
    </div><!--movie-card-->
    <div class="row">
        <div class=buttons>
            <a class="btn btn-primary" [routerLink]="['/profile', 3]">Profile</a>
        </div><!--container-->
    </div>
</div>