<div class="row">

    <div class="col-sm-4 sm-margin-b-50">
        <div class="margin-b-20">
            <img class="img-responsive" src="https://images.pexels.com/photos/288477/pexels-photo-288477.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" alt="Latest Products Image">
        </div>
        <h4><a href="#">Workspace</a> <span class="text-uppercase margin-l-20">{{auditoriums.title}}</span></h4>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incdidunt ut laboret dolor magna ut consequat siad esqudiat dolor</p>
        <a class="link" href="#">Read More</a>
    </div>

    <div class="col-sm-4 sm-margin-b-50">
        <div class="margin-b-20">
            <img class="img-responsive" src="https://images.pexels.com/photos/288477/pexels-photo-288477.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" alt="Latest Products Image">
        </div>
        <h4><a href="#">Minimalism</a> <span class="text-uppercase margin-l-20">Developmeny</span></h4>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incdidunt ut laboret dolor magna ut consequat siad esqudiat dolor</p>
        <a class="link" href="#">Read More</a>
    </div>

    <div class="col-sm-4 sm-margin-b-50">
        <div class="margin-b-20">
            <img class="img-responsive" src="https://images.pexels.com/photos/288477/pexels-photo-288477.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" alt="Latest Products Image">
        </div>
        <h4><a href="#">Cleant Style</a> <span class="text-uppercase margin-l-20">Design</span></h4>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incdidunt ut laboret dolor magna ut consequat siad esqudiat dolor</p>
        <a class="link" href="#">Read More</a>
    </div>

</div>
